# Ignore audio files
*.wav
*.aac
*.flac
*.m4a
*.ogg
*.wma
*.mp3

# MacOs
.DS_Store

#Python
__pycache__/

# LIBS
FTXUI/

# Ice build
Demo/
env/
M/
*_ice.*
FileUploader.cpp
FileUploader.h
client

# Test/Temp files
upload/